.synthContainer {
  flex: 1 1 auto;
}

rect.lfoPad {
  fill: #cacaca;
  rx: 2px;
}

.monosynth {
  display: flex;
}

.synthControls {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.synthControls * {
  margin-left: 1rem;
}

.synthControls header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}

.synthControls .control {
  margin: 0.5rem 0;
}

.synthControls .control output {
  font-size: 0.9em;
}

.synthControls .control label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.synthControls .control select, .synthControls .control input {
  margin-top: 4px;
}

.envelopeViz rect.window {
  fill: #cacaca;
  rx: 2px;
}
